
html 
    head    
        style.
            .imgcontainer{
                display:flex;

            }
            img {
                margin:20px;
                width:250px;
                height:300px;
            }
            .imgcontainerchild{
                width:350px;
                margin:20px;
            }

    body 
    
    h1 fertilizers
    div.imgcontainer
        div.imgcontainerchild
            img(src=gan.image)
            p #{gan.name}
            span #{gan.price} ₹
        div.imgcontainerchild
            img(src=c.image)
            p #{c.name}
            span #{c.price} ₹
        div.imgcontainerchild
            img(src=u.image)
            p #{u.name}
            span #{u.price} ₹
            strike 200
        div.imgcontainerchild
            img(src=d.image)
            p #{d.name}
            span #{d.price} ₹
            strike 300
    a(href="fertilizer/pesticide/new") Next