
html 
    head    
        style.
            .imgcontainer{
                display:flex;

            }
            img {
                margin:20px;
                width:250px;
                height:300px;
            }
            .imgcontainerchild{
                width:350px;
                margin:20px;
            }

    body 
    
    h1 fertilizers
    div.imgcontainer
        div.imgcontainerchild
            img(src=f1.image)
            p #{f1.name}
            span #{f1.price} ₹
        div.imgcontainerchild
            img(src=f2.image)
            p #{f2.name}
            span #{f2.price} ₹
        div.imgcontainerchild
            img(src=f3.image)
            p #{f3.name}
            span #{f3.price} ₹
            strike 200
        div.imgcontainerchild
            img(src=f4.image)
            p #{f4.name}
            span #{f4.price} ₹
            strike 300
    a(href="fertilizer/pesticide/new") Next
    br
    a(href="/") Previous