html 
    head   
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Pacifico&display=swap" rel="stylesheet">
 
        style.
            .imgcontainer{
                display:flex;

            }
            img {
                margin:20px;
                width:250px;
                height:250px;
            }
            .imgcontainerchild{
                width:350px;
                margin:20px;
            }
            *{
                margin: 0;
                padding: 0;
            }
            h1 {
                text-align: center;
                color: brown;
                font-family: 'Crimson Pro', serif;
                font-size:32px;
            }
            div{
                font-size: 25px;
            }
            body{
                //- background-image: url('https://img.freepik.com/premium-photo/asian-farmer-spraying-fertilizer-young-green-rice-field_30478-5095.jpg');
                //- //- background-size: cover;
                //- background-repeat: no-repeat;
                //- background-position: center;
                //- background-size: cover;
            }
            .navbar{
                gap: 20px;
                margin: 0 0 0 50%;
            }
            a{
                margin: 15px 0 15px 10px;
                text-decoration: none;
                color:black;

            }
            .navbarsec{
                display:flex;
                background-color:87bba2;
                padding:15px;
            }
            .navbarsec .navbar a
            {
                background-color :16DB65;
                padding:3px;
                margin:3px;
                color:white;
                border-radius:8px;
            }
            .imgcontainerchild{
                background-color:f0ead2;
                border-radius:5px;
                padding:20px;
            }

    body 
        section.navbarsec
            h1
                a(href='/') Agrofests
            div.navbar
                a(href="/fertilizers") fertilizer
                a(href="/pesticides") pesticide 
                a(href="/organics") organic
                a(href='/seeds') Seeds 
        h1 Pesticides
        div.imgcontainer
            div.imgcontainerchild
                a(href='/pesticides/'+pesticidesdata[0]._id)
                    img(src=pesticidesdata[0].image)
                p #{pesticidesdata[0].name}
                p Quantity:#{pesticidesdata[0].Quantity}
                p MRP:₹
                    strike #{pesticidesdata[0].MRP}  
                    span ₹ #{pesticidesdata[0].MRP-pesticidesdata[0].price}(off)
                span price:₹ #{pesticidesdata[0].price} 
                
                    
            div.imgcontainerchild
                a(href='/pesticides/'+pesticidesdata[1]._id)
                    img(src=pesticidesdata[1].image)
                p #{pesticidesdata[1].name}
                p Quantity:#{pesticidesdata[1].Quantity}
                p MRP: ₹
                    strike #{pesticidesdata[1].MRP} 
                    span ₹#{pesticidesdata[1].MRP-pesticidesdata[1].price}(off)
                span price:₹ #{pesticidesdata[1].price} 
            
            div.imgcontainerchild
                a(href='/pesticides/'+pesticidesdata[2]._id)
                    img(src=pesticidesdata[2].image)
                p #{pesticidesdata[2].name}
                p Qantity: #{pesticidesdata[2].Quantity}
                p MRP:₹
                    strike #{pesticidesdata[2].MRP} 
                    span ₹#{pesticidesdata[2].MRP-pesticidesdata[2].price}(off)
                span price:₹ #{pesticidesdata[2].price} 
                
            div.imgcontainerchild
                a(href='/pesticides/'+pesticidesdata[3]._id)
                    img(src=pesticidesdata[3].image)
                p #{pesticidesdata[3].name}
                p Qantity: #{pesticidesdata[3].Quantity}
                p MRP: ₹
                    strike #{pesticidesdata[3].MRP} 
                    span ₹ #{pesticidesdata[3].MRP-pesticidesdata[3].price}(off)
                span price:₹ #{pesticidesdata[3].price} 
                