html
  head
    title seed Details
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    style.
      .seed-details {
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
      }
      .container {
        margin-top: 50px;
      }
  body
    .container
      h1.text-center seed Details
      .seed-details
        img(src=seed.image)
        h3 seed Name: #{seed.name}
        
        p Description: #{seed.desc}
        p Price:₹ #{seed.price} 
        p MRP:₹
            strike #{seed.MRP}
        p Discount:₹ #{seed.MRP -seed.price}
        p Availability: #{seed.avail}

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
