html

    head    
        style.
            .imgcontainer{
                display:flex;

            }
            img {
                margin:20px;
                width:250px;
                height:255px;
            }
            .imgcontainerchild{
                width:310px;
                margin:15px;
            }
            *{
                margin: 0;
                padding: 0;
            }
            h1 {
                text-align: center;
                color: brown;
                font-size: 30px;
            }
            div{
                font-size: 25px;
            }
            body{
                //- background-image: url('https://media.istockphoto.com/id/1126541751/photo/hands-planting-the-seeds-into-the-dirt.jpg?s=612x612&w=0&k=20&c=aVUr7F_H4ZSJX89Nmiw59F8WvneKeg-YsBoOiDQw0SA=');
                //- //- background-size: cover;
                //- background-repeat: no-repeat;
                //- background-position: center;
                //- background-size: cover;
            }
            .navbar{
                gap: 20px;
                margin: 0 0 0 50%;
            }
            a{
                margin: 15px 0 15px 10px;
                text-decoration: none;
                color:black;

            }
            .navbarsec{
                display:flex;
                background-color:orange;
                padding:15px;
            }
            .imgcontainerchild{
                background-color:grey;
                border-radius:5px;
                padding:20px;
            }

    body 
        section.navbarsec
            h1
                a(href='/') Agrofests
            div.navbar
                a(href="/fertilizers") fertilizer
                a(href="/pesticides") pesticide 
                a(href="/organics") organic
                a(href='/seeds') Seeds 
        h1 Seeds
        div.imgcontainer
            div.imgcontainerchild
                img(src=seedsdata[0].image)
                p #{seedsdata[0].name}
                p #{seedsdata[0].Quantity}
                span #{seedsdata[0].MRP} ₹
                br
                span #{seedsdata[0].price} ₹
                strike #{seedsdata[0].MRP - seedsdata[0].price}
            div.imgcontainerchild
                img(src = seedsdata[1].image)
                p #{seedsdata[1].name}
                p #{seedsdata[1].Quantity}
                span #{seedsdata[1].MRP} ₹
                br
                span #{seedsdata[1].price} ₹
                strike #{seedsdata[1].MRP - seedsdata[1].price}
            div.imgcontainerchild
                img(src = seedsdata[2].image)
                p #{seedsdata[2].name}
                p #{seedsdata[2].Quantity}
                span #{seedsdata[2].MRP} ₹
                br
                span #{seedsdata[2].price} ₹
                strike #{seedsdata[2].MRP - seedsdata[2].price}
            div.imgcontainerchild
                img(src = seedsdata[3].image)
                p #{seedsdata[3].name}
                p #{seedsdata[3].Quantity}
                span #{seedsdata[3].MRP} ₹
                br
                span #{seedsdata[3].price} ₹
                strike #{seedsdata[3].MRP - seedsdata[3].price}