html

    head    
        style.
            .imgcontainer{
                display:flex;

            }
            img {
                margin:20px;
                width:250px;
                height:255px;
            }
            .imgcontainerchild{
                width:350px;
                margin:20px;
            }
            *{
                margin: 0;
                padding: 0;
            }
            h1 {
                text-align: center;
                color: brown;
                font-size: 30px;
            }
            div{
                font-size: 25px;
            }
            body{
                background-image: url('https://img.freepik.com/premium-photo/asian-farmer-spraying-fertilizer-young-green-rice-field_30478-5095.jpg');
                //- background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .navbar{
                gap: 20px;
                margin: 0 0 0 50%;
            }
            a{
                margin: 15px 0 15px 10px;
                text-decoration: none;
                color:black;

            }
            .navbarsec{
                display:flex;
                background-color:white;
                padding:15px;
            }

    body 
        section.navbarsec
            h1 #{title}
            div.navbar
                a(href="/fertilizer") fertilizer
                a(href="/fertilizer/pesticide/new") pesticide
                a(href="/fertilizer/pesticide/organic/new") organic
                a(href='/seeds') Seeds 
        h1 Seeds
        div.imgcontainer
            div.imgcontainerchild
                img(src=s1.image)
                p #{s1.name}
                span #{s1.price} ₹
            div.imgcontainerchild
                img(src=s2.image)
                p #{s2.name}
                span #{s2.price} ₹
            div.imgcontainerchild
                img(src=s3.image)
                p #{s3.name}
                span #{s3.price} ₹
                strike 200
            div.imgcontainerchild
                img(src=s4.image)
                p #{s4.name}
                span #{s4.price} ₹
                strike 300